@import "null.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: #fffefd;
    font-family: "Montserrat", sans-serif;
    color: #19191c;
    line-height: 150%;
    transition: 0.5s;
  }

  h1,
  h2,
  h4,
  h5 {
    font-weight: 600;
  }

  h1 {
    font-size: 3rem;
    line-height: 130%;
  }

  h2 {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 7.5rem 0 2.5rem 0;

    @screen sm {
      font-size: 2rem;
    }

    @screen lg {
      font-size: 2.5rem;
    }
  }

  h2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 36px;
    top: 62%;
    left: -15px;
    background-color: #cb4d09;
  }

  h3 {
    font-weight: 500;

    @screen md {
      font-size: 2rem;
    }

    @screen sm {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    @screen sm {
      font-size: 1.25rem;
    }
    @screen md {
      font-size: 1.5rem;
    }
  }

  h6 {
    text-decoration: underline;
    @screen md {
      font-size: 1.5rem;
    }
    @screen sm {
      font-size: 1rem;
    }
  }

  li {
    font-weight: 500;

    @screen md {
      font-size: 0.875rem;
    }

    @screen lg {
      font-size: 1.125rem;
    }
  }

  button {
    @screen sm {
      max-height: 4rem;
    }

    @screen lg {
      max-height: 100%;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  }
}

@layer components {
  .btn {
    background: #cb4d09;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    display: inline-block;
    white-space: nowrap;
    border-radius: 40px;
    text-align: center;
    max-width: max-content;
  }

  .btn-just {
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-arrow {
    @screen sm {
      padding: 1.5rem 3rem 1.5rem 1.5rem;
    }

    @screen lg {
      padding: 1.5rem 3.6rem 1.5rem 2.25rem;
    }
  }

  .btn-arrow::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../assets/icons/Arrow-Right.png");
    z-index: 20;
    top: 50%;
    right: 23px;
    transform: translate(0, -45%);
  }

  @media (min-width: 1140px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
